

*{
    box-sizing: border-box;
    padding : 0;
    margin : 0;
}

body{
    width : 100%;
}


/*****NAVIGATION BAR STYLING STARTS HERE****/


/*****NAVIGATIONBAR STYLING STARTS HERE*****/

.navbar{
    background-image: url("pics/general_pics/header.jpg");
    display: flex;
    flex-direction: column;
    padding : 0px 15px 20px;
}

.navbar-links{
    display : none;
    width : 100%;
}

.navbar-links.on-off{
    display : block;
}

.navbar ul{
    padding : 0;
    margin : 0;
    list-style-type : none;
}

.navbar ul li{
    width : 100%;
    text-align: center;
}

.navbar a{
    color : white;
    padding :5px;
    font-weight : 600;
    font-size : 14px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    display: block;
}

.dropable::after,.navbar .subMenu > li a::after{
    content : ">";
    padding : 0px 5px;
    font-weight : 800;
}

.navbar .second > li a::after{
    content : '';
}

.navbar .mainMenu{
    display : flex;
    flex-direction: column;
    align-items: center;
    padding : 15px 0px;
}

.navbar .mainMenu a:focus{
    background-image : url("pics/general_pics/menu_1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.navbar .mainMenu li{
    display: block;
}

.navbar .logoLink a{
    padding : 0;
    z-index : 1;
    display : none;

    -webkit-animation: opacity 2s;
    -moz-animation: opacity 2s;
    -o-animation: opacity 2s;
    -ms-animation: opacity 2s;
    animation : opacity 2s;
}

@keyframes opacity{
    from{
        opacity : 0;
        top : 15px;
    }

    to{
        opacity: 1;
        top  : 0px;
    }
}

.navbar li:nth-of-type(5):hover a{
    background-image: none;
}

.navbar .mainMenu>li:hover a::after{
    border: 1px solid transparent;
}

.navbar .subMenu{
    text-align: center;
    display : none;
}

.subMenu.subMenu-displaying{
    display : block;
}


.dropdownDivider{
    display : none;
}

.navbar .active .subMenu a ,.navbar .active .superSubMenu a{
    color : white;
}

.navbar .toggle-button{
    border : none;
    background-color : rgb(243, 67, 36);
    color : white;
    padding : 0px 5px;
    border-radius : 4px;
    transform: scale(1.5,1);
    align-self: flex-end;
    position: relative;
    top : 10px;
}

.toggle-button.on-off{
    background-color: black;
}

.navbar .toggle-button:focus{
    outline : none;
}


.navbar .superSubMenu{
    display: none;
}

.navbar .superSubMenu > li a::after{
    content : '';
    text-align: center;
}

.superSubMenu.superSubMenu-displaying{
    display : block;
}

.navbar .dropdownDivider{
    margin : 0;
    border-color : white;
}

/***SLIDESHOW STARTS HERE**/

.slideshow-container{
    position : relative;
    width : 100%;
    height : 112px;
}

#slides{
    position: relative;
    height : 100%;
    padding : 0;
    margin : 0;
    list-style-type : none;
}

.slide{
    position : absolute;
    width : 100%;
    height : 100%;
    top : 0px;
    left : 0px;
    display : none;
    cursor: pointer;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.slide a{
    position : absolute;
    width : 100%;
    height : 100%;
    border : none;
}


.slide.showing{
    display : block;

    -webkit-animation: fadein 1s;
    -moz-animation : fadein 1s;
    -o-animation : fadein 1s;
    -ms-animation : fadein 1s;
    animation : fadein 1s;
}

@keyframes fadein{
    from{opacity : 0.3;}
    to{opacity : 1;}
}

.slide:nth-of-type(1){
    background-image: url("pics/homepage_pics/60444-SUNBAKE-B2S-Website-Banner-02-scaled.jpg");
}

.slide:nth-of-type(2){
    background-image: url("pics/homepage_pics/slider-home.jpg");
}

.controls-container{
    position : absolute;
    padding : 0px 20px;
    display : flex;
    justify-content: space-between;
    width : 100%;
    height : 100%;
    align-items: center;
    pointer-events: none;
}

.controls{
    width : 40px;
    height : 40px;
    background : url("pics/general_pics/header.jpg");
    border-radius: 50%;
    text-align: center;
}

.controls .fa{
    color : yellow;
    font-size : 40px;
    opacity : 0.7;
    pointer-events: none;
}

#previous .fa{
    margin-right : 8px;
}

#next .fa{
    margin-left: 8px;
}

/**SECOND SECTION STARTS HERE**/

.homepage-products{
    padding : 40px 30px;
}

.homepage-products h1{
    font-size : 25px;
    margin-bottom : 15px;
    color : #d71920;
}

.homepage-products p{
    font-size: 16px;
    color: #0059a9
}

.homepage-products .bakery-range{
    text-align: center;
}

.homepage-products .bakery-range > div p{
    padding : 5px 0px;
}


/***PAGE FOOTER STYLING STARTS HERE***/

.contact-details{
    background-image: url("pics/general_pics/footer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding : 5px 15px 0px;
}

.contact-details .spoonpart{
    display : flex;
    justify-content: space-between;
    padding : 5px 15px 0px;
}

.spoonpart p{
    font-size : 12px;
    color : white;
    align-self: center;
    padding : 0px 20px;
}

.contact-details .sitemap{
    display : none;
}

/*****ABOUT PAGE STYLING STARTS HERE*****/
/*****==============================*****/

.aboutus-body {
    padding : 40px 30px;
}

.aboutus-body .about-us-content > div img{
    width : 100%;
}

.aboutus-body h1{
    color: #d71920;
    font-weight: 400;
}

.aboutus-body p{
    color: #0059a9;
    font-family: 'Open Sans';
}

.aboutus-body .about-us-info{
    padding : 20px 0px 0px;
}


/*****PRODUCT RANGE STYLING STARTS HERE*****/


.everyday-range-breads{
    padding : 40px 30px;
}

.everyday-range-breads > div {
    display : grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10%;
    padding : 10px 0px;
}

.bakery-item{
    text-align: center;
    padding : 15px 0px;
}

.bakery-item img{
    width : 100%;
}

.bakery-item h5{
    font-size : 14px;
    color : #d71920;
    font-weight : 700;
    margin : 0;
    padding : 8px 0px;
}

.bakery-item p{
    font-size : 16px;
}

.bakery-item h5,.bakery-item p{
    text-align : left;
}

.pageband{
    padding : 15px;
    background-image: url("pics/general_pics/band-background.jpg");
    background-position : center;
    background-size : cover;
    background-repeat: no-repeat;
    color : white;
    font-size : 20px;
    text-align : center;
}

.everyday-buns-and-rolls{
    padding : 40px 30px;
}

.buns-and-rolls{
    display : grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:10%;
}

.buns-and-rolls .bakery-item h5{
    margin : 0;
    padding : 5px 0px;
}

.buns-and-rolls p{
    margin : 0;
    padding : 0;
}

/***BAKERIES PAGE STYLING STARTS HERE***/

.bakeries-content{
    padding : 40px 30px;
}

.bakeries-contact-info p{
    color: #0059a9;
    font-size : 16px;
    font-weight : 400;
    font-family: 'open Sans';
    margin : 0;
}

.bakeries-contact-info > div{
    padding : 10px 0px;
}

.bakeries-body .bakeries-line{
    border-color: #0059a9;
}

.bakeries-body h5{
    color : #d71920;
    font-weight: 700;
    font-size : 16px;
    font-family: 'Open Sans';
}

/*****COMPETITIONS PAGE STYLING STARTS HERE*****/

.competitions-tcs-body{
  margin-top : 5px;  
}

.terms-and-conditions {
    padding : 40px 30px;
    color : #333333;
}

.terms-and-conditions h4,.terms-and-conditions h5{
    font-size : 14px;
    font-weight: bold;
}

.terms-and-conditions p{
    color : #333333;
}

.terms-and-conditions p:nth-of-type(1){
    padding : 15px 0px;
}

.terms-and-conditions ol{
    padding : 0px 15px 15px;
}

.terms-and-conditions ol li{
    margin-left : 10%;
    font-size: 14px;
}

/*****CONTACT US PAGE STYLING STARTS HERE*****/

.contact-us-body .content-wrapper .image-container{
    padding : 0px 0px 20px;
    text-align: center;
}

.contact-us-body .content-wrapper{
    padding : 40px 30px;
    margin : 0px;
}

.contactuslist{
    list-style-type : none;
    position : relative;
}

.contactuslist li{
    padding : 0;
    margin : 0;
}

.contactuslist p{
    font-size: 16px;
    font-family: 'open-sans';
    color: #0059a9;
    margin : 2px;
    font-weight : 400;
}

.contactuslist h5{
    font-size : 16px;
    font-weight : 600;
    color : #d71920;
    font-family: 'open-Sans';
}

.contactusline{
    border : 1px dashed #d71920;
}

.contact-us-form h3{
    color : #d71920;
    font-weight : bold;
    font-size : 24px;
}

#contactform input{
    padding : 7px;
    border : none;
    margin : 0;
    caret-color: grey;
    color : grey;
    width : 100%;
}

#contactform input::placeholder{
    color : grey;
    font-weight : 450;
    font-size : 15px;
}

#contactform input:focus{
    outline : none;
}

#contactform .validationMessage{
    color : #d71920;
    left : 3px;
    font-size : 14px;
}

#contactform label{
    color: #0059a9;
    font-size : 14px;
    padding : 5px;
    display : block;
}

#contactform select{
    width : 100%;
    font-size : 15px;
    color : grey;
    padding : 5px;
    border : none;
    margin-left : 2px;

}

#contactform select:focus{
    outline : none;
}

#contactform #address, #message{
    width : 100%;
    padding : 5px;
    margin-left : 2px;
    border : none;
    margin-top : 8px;
    height : 100px;
    caret-color: grey;
    color : grey;
}

#contactform #address::placeholder{
    color : grey;
    font-weight : 450;
    font-size : 15px;
}

#contactform #address:focus{
    outline : none;
}

#contactform #message::placeholder{
    color : grey;
    font-weight : 450;
    font-size : 15px;
}

#contactform #message:focus{
    outline : none;
}

#contactform .icons-container{
    width : 100%;
    border : 1px solid #0059A9;
    padding : 10px;
    display : flex;
    flex-direction: column;
}

.icons-container p{
    font-size : 14px;
    color: #0059a9;
    font-family: 'open sans';
    text-align : center;
}

.icons {
    cursor : pointer;
    color: #0059a9;
    align-self: center;
    
}

.icons .fa{
    padding : 10px;
    font-size : 1.8rem;
}

.icons .fa:focus{
    border : 1px solid red;
}

.icons .fa:focus{
    border : 1px solid red;
}

.icon-name{
    color : red;
    font-weight : 600;
}

.icon-error-text{
    color : red;
    display : none;
}

.icon-error-text.displaying{
    display : block;
}

.submitForm{
    margin-left : 3px;
    padding : 10px;
    border : 1px solid #2EA3F2;
    font-size : 18px;
    font-weight: 500;
    width : 90px;
    color : #2EA3F2;
    background-color : transparent;
    margin-top : 10px;
    transition : ease-out 0.8s;

}

.submitForm:hover{
    background-color : #e8e8e8;
    border : 1px solid #e8e8e8;
    transition : ease-in 0.4s;
}

.submitForm:focus{
    outline : none;
}

/*****DOWNLOADS PAGE STYLING STARTS HERE*****/


.downloads-container h5,p{
    color: #0059a9;
    font-size : 16px;
    font-family : 'open-sans';
}

.downloads-container h5{
    font-weight : 600;
    padding : 5px 0px 3px;
    margin : 0;
}

.downloads-container{
    padding : 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.downloads-container > div img{
    width : 100%;
}

/****RECIPES PAGE STYLING STARTS HERE****/

.recipes-container{
    padding : 40px 30px;
    min-height: 50vh;
}

.recipes-container h4{
    color : #d71920;
    text-align : center;
    font-family: 'open-sans';
    font-weight : 700;
    font-size : 16px;
}

/****BUNS AND ROLLS VITA LIFE RANGE STYLING STARTS HERE****/

.pageband.vita-life{
    background-image : url("pics/productrange_pics/vitalifebuns_pics/vita.jpg");
}

.vita-life-buns{
    padding : 40px 30px;
}

.vita-buns{
    display : grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10%;
}

.vita-buns .bakery-item h5{
    padding : 5px 0px;
}

.vita-buns .bakery-item p , .vita-buns .bakery-item h5{
    margin: 0;
}

/****TREATS BUNS STYLING STARTS HERE****/


.pageband.treats{
    background-image : url("pics/productrange_pics/treatsbuns_pics/treats.jpg");
}

.treats-buns-range{
    padding : 40px 30px;
}

.buns-treats{
    display : grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10%;
}

.buns-treats .bakery-item h5{
    padding : 5px 0px;
}

.buns-treats .bakery-item p{
    margin : 0;
}

/****VITA-LIFE BREAD PAGE STYLING STARTS HERE*****/

.vita-life-breads{
    padding : 40px 30px;
    display : grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:10%;
}

.vita-life-breads .bakery-item img{
    width : 100%;
}

.vita-life-breads .bakery-item p{
    margin : 0;
}

.vita-life-breads .bakery-item h5{
    padding : 5px 0px;
}


/****COMMON STYLING****/

/**image slider styling**/


.slider img{
    width : 100%;
}

.pagebody{
    background-image: url("pics/general_pics/background.jpg");
    background-position : center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top : 7px;
}

/*******MEDIA**********/
/*******QUERIES********/

@media only screen and (min-width : 768px){

    /**Slideshow on the index page**/

    .slideshow-container{
        height : 224px;
    }

    /**Pagebody ,slider picture area and footer areas**/

    .pagebody , .contact-details ,.slider{
        width : 98%;
        margin-left: auto;
        margin-right: auto;
    }

    /**icons container on the contact form in the contact us page**/

    #contactform .icons-container{
        width : 50%;
    }
}

@media only screen and (min-width : 992px){

    /*Body*/

    body{
        width : 95%;
        margin : auto;
    }
    
    /*Navigation bar**/

    .title-bar,.navbar .toggle-button{
        display : none;
    }

    .navbar{
        flex-direction: row;
        position : relative;
        height : 150px;
        padding-bottom: 0px;
    }

    .navbar .mainMenu{
        flex-direction: row;
        height : 50%;
        padding : 0px 0px;
        justify-content: center;
    }

    .navbar ul li{
        width : inherit;
    }

    .navbar-links{
        display : block;
    }

    .navbar .mainMenu li:nth-of-type(9){
        display : none;
    }

    .navbar a{
        font-size : 17px;
        position : relative;
        padding : 7px 15px;
        font-weight : lighter;
        font-family: 'Oswald', sans-serif;
    }

    .navbar a:hover{
        background : url("pics/general_pics/menu_1.png");
    }

    .navbar a::after{
        content :'|';
        position : absolute;
        right : 0%;
    }

    .dropable::after,.navbar .subMenu > li a::after{
        content : "";
    }

    .navbar .logoLink{
        z-index : 1;
    }

    .navbar .logoLink a{
        display : block;
    }

    .navbar .logoLink a::after{
        content : '';
    }

    .navbar li:nth-of-type(5):hover a{
        background-image: block;
    }
    
    .navbar .mainMenu>li:hover a::after{
        border: 1px solid transparent;
    }

    /*Slideshow*/

    .slideshow-container{
        height : 285px;
    }

    /*page body ,slider and footer*/

    .pagebody , .contact-details ,.slider{
        width : 100%;
    }

    /**Homepage products**/

    .homepage-products .bakery-range{
        display : flex;
        justify-content: space-between;
        text-align : left;
    }

    .homepage-products .bakery-range > div{
        flex : 0.3;
    }

    .homepage-products .bakery-range > div img{
        width : 100%;
    }

    /**About us page**/

    .aboutus-body .about-us-content{
        display : flex;
        justify-content: space-between;
    }

    .aboutus-body .about-us-content .about-us-info{
        flex: 0.9;
    }

    .bakeries-contact-info{
        display : grid;
        grid-template-columns: repeat(4,1fr);
    }

    /**Downloads**/

    .downloads-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap : 2%;
    }

    /**Everyday range bread**/

    .everyday-range-breads .brown-bread ,
    .everyday-range-breads .white-bread{
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 4%;
    }

    .everyday-range-breads .farmstyle-bread{
        grid-template-columns: repeat(12,1fr);
        grid-column-gap: 4%;
    }

    .everyday-range-breads .farmstyle-bread > div:nth-of-type(1){
        grid-column : 3 / 7;
    }

    .everyday-range-breads .farmstyle-bread > div:nth-of-type(2){
        grid-column : 7 / 11;
    }

    .everyday-range-breads .farmstyle-bread > div:nth-of-type(3){
        grid-column : 3 / 7;
    }

    .everyday-range-breads .farmstyle-bread > div:nth-of-type(4){
        grid-column : 7 / 11;
    }

    /**Vita life bread**/

    .vita-life-breads{
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 4%;
    }

    /**Everyday range buns**/

    .buns-and-rolls,.buns-treats,.vita-buns{
        grid-column-gap: 4%;
        padding : 0px 100px 20px;
    }
    
    /**Common styling**/

    .homepage-products,.aboutus-body,.terms-and-conditions,
    .bakeries-content,.downloads-container,.everyday-range-breads,
    .vita-life-breads,.everyday-buns-and-rolls,.treats-buns-range,
    .vita-life-buns{
        padding : 40px 100px 20px;
    }

    .contact-details{
        padding : 0px 100px 0px;
    }

    .pageband{
        text-align: left;
        padding : 15px 20px 15px 100px;
        font-size : 28px;
    }

    .bakery-item h5{
        font-size : 18px;
    }

}

@media only screen and (min-width : 1280px){

    /**Navigation bar**/

    body{
        width : 90%;
    }

    .navbar{
        height : 120px;
    }

    .navbar .mainMenu li:nth-of-type(9){
        display : block;
    }

    .navbar a{
        font-size : 18px;
    }

    /**Slide show area**/

    .slideshow-container{
        height : 350px;
    }

    .controls-container{
        cursor: pointer;
    }

    .controls{
        opacity: 0;
        transition : all ease 1s;
        pointer-events: all;
    }

    .controls:nth-of-type(1){
        margin-left : -70px;
    }

    .controls:nth-of-type(2){
        margin-right: -70px;
    }

    .slideshow-container:hover .controls{
        opacity: 1;
    }

    .slideshow-container:hover #previous{
        margin-left: 0px;
    }

    .slideshow-container:hover #next{
        margin-right: 0px;
    }
}